<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_list.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_list.Description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @todo_list.Image %>
</p>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
