<div class="container">
	<div class="row">
		<% @Todos.each_slice(3) do |row| %>
			<% row.each do |todo| %>
				<div class="col-md-3 offset-md-1">
					<%= todo.id %>	
					<%= todo.title %>
					<%= todo.image %>
					<% if user_signed_in? %>
						<% if @done.include?(todo.id) %>
							<%= link_to 'Mark as Incomplete', todo_completed_path(todo, current_user), :class => 'btn btn-warning', method: :patch %>
						<% else %>
							<%= link_to 'Mark as Completed', todo_completeds_path(todo), :class => 'btn btn-info', method: :post %>
						<% end %>
					<% end %>			
				</div>
			<% end %>
		<% end %>
	</div>
</div>

	